.app {
  background-color: var(--color-background);
  color: var(--color-text-blue);
  font-family: sans-serif;
}

.logo {
  img {
    height: 89px;
    width: 217px;
    margin-top: 43px;
    margin-left: 57px;
    background: transparent;
  }
}

.button {
  display: flex;
  gap: var(--spacing);
}

.header {
  background: transparent;
  font-style: sans-serif;
  font-size: 19.4296px;
  color: #2c2c2e;
  text-align: end;
  letter-spacing: normal;
  margin-top: 70px;

  nav {
    ul {
      list-style: none;
      display: flex;
    }
  }
}

.button {
  background-image: var(--gradient);
  border-radius: 2rem;
  display: block;
  padding: 2px;
  font-weight: 600;

  div {
    background-color: var(--color-background);
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
  }
}
