*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #ffffff;
  --color-lightblue: #daeaf2;
  --color-lavender: #d1d3ff;
  --color-dark: #333c6a;
  --color-text-grey: #2c2c2e;
  --color-text-blue: #333c6a;
}

a,
a:link {
  color: #2c2c2e;
  text-decoration: none;
}
